@import '../../styles/style.scss';

.navBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #14272D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  color: white;
  font-family: $headerFont;
}
.logo {
  font-size: 3rem;
  margin-left: 8px;
  font-family: $nioSymbol;
}
.restaurantName {
  display: none;
}
.hamburgerMenu {
  margin: 0.6em 0.6em;
  .hamburger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 15%;
  }
}
.navigation {
display: none;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  .logo {
    font-size: 3rem;
    margin: 0 auto;
  }
  .hamburgerMenu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    p {
      margin: 0 1.5em;
      font-size: 1rem;
    }
  }
  .restaurantName {
    display: inline-block;
    font-size: 1rem;
    margin: 0 1.5em;
  }
  .logo {
    left: 50%;
    right: 50%;
    font-size: 3rem;
    margin: 0 auto;
  }
}