@import '../../styles/style.scss';

footer {
  // display: block;
  border: 1px solid white;
  height: 150px;
  background-color: $secondaryColor;
  padding: 3rem;
}
.footerContent {
  display: flex;
  justify-content: space-between;
}
a:link {
  text-decoration: none;
  color: $primaryColor;
}
.contact {
  width: 30%;
  text-align: left;

  .footerLogo {
    font-size: 2em;
    margin: 0 auto;
  }
}
.socials {
  width: 30%;
  text-align: right;
  align-self: center;
}