@import '../../styles/style.scss';

#admin {
  background-color: $primaryColor;
  margin-top: 10vh;
}
.admin__input {
  margin-bottom: 2rem;
  height: 2em;
  width: 20%;
  border-radius: 20px;
  font-size: 1.2em;
  font-family: $textFont;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

  ::placeholder {
    color: $primaryColor;
  }
}
.admin__input:focus {
  width: 50%;
}
.admin__h2 {
  font-size: 2em;
  color: White;
}
article {
  width: 80%;
  margin: 0 auto;

  table {
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;

    th, td {
      text-align: left;
    }
    th {
      font-size: 1.5em;
    }
  }
}
.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  border-radius: 15%;
}
.bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.bar2 {
  opacity: 0;
}
.bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
