.confirmSpace {
  background-color: $secondaryColor;
  width: 60%;
  height: 70vh;
  margin: 0 auto;

  p {
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin: 2em;
  }
  .finstilta {
    font-size: 0.8em;
  } 
}
