$primaryColor: #14272D;
$secondaryColor: #B89A8C;
$secondaryColor2: #C4C4C4;

$calendarColor: #EBCB9B;
$hoverColor: #62C19C;
$selectedColor: #9BEBB5;

$headerFont: 'Livvic', sans-serif;
$textFont: 'Raleway', sans-serif;
$nioSymbol: 'Gothic A1', sans-serif;