@import '../../styles/media-queries.scss';

.heroImage {
  margin-top: 10vh;
  height: 85vh;
  width: 100vw;
  background-image: url("../../images/kitchen.jpg");
  background-size: cover;
  background-position: 75%;
  color: white;
  overflow: auto;
  
  p {
    margin: 50vh auto 0 auto;
    font-size: 4rem;
  }
  h1 {
    font-size: 2rem;
  }

  @include desktop {
    p, h1 {
      display: none;
    }
  }
}

.menuInformation {
  background-color: #B89A8C;
  width: 100vw;
  min-height: 10rem;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.restaurantMenu {
  background-color: #14272D;
  width: 100vw;
  height: 30rem;
  overflow: auto;
  color: white;

  h2 {
    margin-top: 2rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 1rem auto 2rem auto;
    text-align: left;

    li {
      margin-bottom: 1rem;
    }
  }

  .restaurantMenu__button {
    background-color: #C4C4C4;
    height: 4rem;
    width: 10rem;
    line-height: 4rem;
    color: black;
    margin: 0 auto;
    cursor: pointer;
  }

}